<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Welcome Rendezvous</title>
</head>

<body style="margin:0; padding:0; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#000; background:#ddd; box-sizing:border-box; -webkit-box-sizing:border-box;">

  <table align="center" cellspacing="0" cellpadding="0" width="800" border="0" style="background-color:#f6f6f6; font-family:Arial, Helvetica, sans-serif;">
  	<tr>
    	<td align="center" style="padding:20px 0;"><img src="{{base_url}}/images/logo.png" alt="Logo" style="width:320px;"></td>
    </tr>
    <tr>
      <td width="540px;" style="padding:0px 30px 20px;">
      	<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                  <td align="center" style="background:#fff; padding:25px 30px; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.1);">
                    <table width="100%" style="margin:0;">
                    <tr>
						<td align="left" style="font-size:14px; color:#555; padding:0 0 15px; font-family:Arial, Helvetica, sans-serif;">Hi,</td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:0 0 12px; font-family:Arial, Helvetica, sans-serif;">Here is the top tipper list for your show.</td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:25px; color:#0e2860; padding:10px 0 15px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;">
                        {{show.title}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="100">
                              <img src="{{profile_picture}}" alt="Profile Picture" style="width:100%; border:1px solid #ddd; padding:10px; box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.1);">
                            </td>
                            <td style="vertical-align:top; padding:0 20px;">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left" style="font-size:18px; color:#333; padding:0 0 5px; font-family:Arial, Helvetica, sans-serif; font-weight:600;">{{show.artist.name}}</td>
                                </tr>
                                <tr>
                                  <td>{{published_date}}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:30px 0 10px 0;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ddd; box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.1); overflow:hidden; width: 100%;">
                          <tr>
                            <th scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-right:1px solid #ddd;">Fan Name</th>
                            <th scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-right:1px solid #ddd;">Email</th>
                            <th scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-right:1px solid #ddd;">Total Tip</th>
                          </tr>
                          {{{userlist_str}}}
                          <!-- <tr>
                            <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">Dil Diyan Gallan - Tiger Zinda Hai (Atif) 320Kbps</td>
                            <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd;">Atif Aslam , VishalShekhar</td>
                          </tr>
                          <tr>
                            <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">Dil Diyan Gallan - Tiger Zinda Hai (Atif) 320Kbps</td>
                            <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd;">Atif Aslam , VishalShekhar</td>
                          </tr>
                          <tr>
                            <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">Dil Diyan Gallan - Tiger Zinda Hai (Atif) 320Kbps </td>
                            <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd;">Atif Aslam , VishalShekhar, Arijit Sing</td>
                          </tr> -->
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td style="padding:15px 0 5px; font-family:Arial, Helvetica, sans-serif;">
                        <p style="margin:0; font-size:13px; line-height:20px; font-family:Arial, Helvetica, sans-serif; color:#555;">Thank You, <br>Rendezvous</p>
                      </td>
                    </tr>
                  </table>
                  </td>
              </tr>

          </table>

          <table cellspacing="0" cellpadding="0" width="100%" border="0" style="text-align:center; padding:0; border-radius:10px 10px 0 0; margin:0;font-size:12px;">
          	<tr>
            	<td align="center" style="padding:20px 0 0 0;"><p style="margin:0; font-family:Arial, Helvetica, sans-serif; color:#555">Copyright &copy; {{curr_year}}. All Rights Reserved.</p></td>
            </tr>
          </table>

      </td>
    </tr>
  </table>

</body>
</html>
