<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome Rendezvous</title>
</head>

<body style="margin:0; padding:0; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#000; background:#ddd;">

    <table align="center" cellspacing="0" cellpadding="0" width="600" border="0" style="background-color:#f6f6f6; font-family:Arial, Helvetica, sans-serif;">
      	<!-- <tr>
        	<td align="center" style="padding:20px 0;"><img src="{{base_url}}/images/logo.png" alt="Logo" style="width:320px;"></td>
        </tr> -->
        <tr>
            <td width="540px;" style="padding:0px 30px 20px;">
              	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" style="background:#fff; padding:25px 30px; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.1);">
                            <table width="100%" style="margin:0;">
                                <tr>
            						<td align="left" style="font-size:14px; color:#555; padding:0 0 15px; font-family:Arial, Helvetica, sans-serif;">Hi {{name}},</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:0 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        <p>
                                            Thanks for joining the Rendezvous platform.<br>
                                            Please <a href="{{url}}">click here</a> to verify your email and active your account.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:0 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        <p>
                                            Please signup for the PayPal business or personal account to get paid from Rendezvous once you have completed your show. <a href="{{paypal_action_url}}">click here</a> to complete the signup process. If you already have PayPal business or personal account, sign in with your credentials and grant the permission.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:15px 0 5px; font-family:Arial, Helvetica, sans-serif;">
                                        <p style="margin:0; font-size:13px; line-height:20px; font-family:Arial, Helvetica, sans-serif; color:#555;">Thanks, <br>The Rendezvous Team</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" width="100%" border="0" style="text-align:center; padding:0; border-radius:10px 10px 0 0; margin:0;font-size:12px;">
                  	<tr>
                    	<td align="center" style="padding:20px 0 0 0;"><p style="margin:0; font-family:Arial, Helvetica, sans-serif; color:#555">Copyright &copy; {{curr_year}}. All Rights Reserved.</p></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
