Someone requested a password set for a {{siteName}} account associated with the {{userEmail}} email address.

If this was a mistake, just ignore this email and nothing will happen.

To reset your password, visit the following link: {{url}}
