<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Welcome Rendezvous</title>
</head>

<body style="margin:0; padding:0; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#000; background:#ddd; box-sizing:border-box; -webkit-box-sizing:border-box;">

    <table align="center" cellspacing="0" cellpadding="0" width="800" border="0" style="background-color:#f6f6f6; font-family:Arial, Helvetica, sans-serif;">
      	<tr>
        	<td align="center" style="padding:20px 0;"><img src="{{base_url}}/images/logo.png" alt="Logo" style="width:320px;"></td>
        </tr>
        <tr>
            <td width="540px;" style="padding:0px 30px 20px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" style="background:#fff; padding:25px 30px; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.1);">
                            <table width="100%" style="margin:0;">
                                <tr>
            						<td align="left" style="font-size:14px; color:#555; padding:0 0 15px; font-family:Arial, Helvetica, sans-serif;">Hi {{name}},</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:0 0 12px; font-family:Arial, Helvetica, sans-serif;">Your session has been created. Please see details below:</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:25px; color:#0e2860; padding:10px 0 15px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;">
                                        {{show.title}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="100">
                                                    <img src="{{profile_picture}}" alt="Profile Picture" style="width:100%; border:1px solid #ddd; padding:10px; box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.1);">
                                                </td>
                                                <td style="vertical-align:top; padding:0 20px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="left" style="font-size:18px; color:#333; padding:0 0 5px; font-family:Arial, Helvetica, sans-serif; font-weight:600;">{{name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>{{published_date}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:20px 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        Your only a few small steps away from streaming on Rendezvous!
                                        <!-- You are nearly done and ready to live stream on Rendezvous. -->
                                        <!-- If you haven't already configured Chrome or Firefox, Please see the diagrams in <a href="{{site_url}}/presenter-how-to-guide">PRESENTER HOW TO GUIDE</a>. -->
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:20px 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        Once this is done, go to Show Summary/Upcoming Shows and click the megaphone icon to Go Live on your next show.
                                        Your camera can be activated 5 minute before a show, and remember to turn your laptop speakers off.
                                    </td>
                                </tr> -->
                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:20px 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        Below are the details you will need to put into your broadcasting software (Don’t know what that is? Don’t worry, the tutorial below will explain everything!)
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:10px 0 10px 0;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ddd; box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.1); overflow:hidden;">
                                            {{!-- <tr>
                                                <td scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">RTMP / Server Address:</td>
                                                <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">{{wowza_RTMP}}</td>
                                            </tr>
                                            <tr>
                                                <td scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">PORT:</td>
                                                <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">{{wowza_port}}</td>
                                            </tr>
                                            <tr>
                                               <td scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">Application:</td>
                                               <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">{{wowza_applicatoion}}</td>
                                            </tr> --}}
                                            <tr>
                                                <td scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">Server URL:</td>
                                                <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">{{wowza_rtmp_url}}</td>
                                            </tr>
                                            <tr>
                                                <td scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">Stream Key:</td>
                                                <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">{{wowza_stream_name}}</td>
                                            </tr>
                                            <tr>
                                                <td scope="col" align="left" style="padding:10px; background:#f2f2f2; color:#000; font-size:18px; font-weight:500; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">Session Password:</td>
                                                <td align="left" style="padding:10px; color:#000; font-size:14px; font-weight:400; font-family:Arial, Helvetica, sans-serif; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">{{session_password}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:20px 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        <strong>Get PRESENTING and have fun!</strong>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:7px 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        <!-- <p>
                                            For the ultimate audience experience in live streaming for we recommend you download OBS for your presentations. Just follow these steps:
                                        </p> -->
                                        <!-- <p>
                                            1. Copy and past the URL and Stream Key into the OBS settings dialogue box.<br/>
                                            2. Click start Stream in OBS and your stream will start at the time you put down.<br/>
                                            3. Remember to give yourself a few minutes before your show to start your stream - your audience will receive your stream at the time stipulated by you.<br/>

                                            You're Ready to Stream
                                        </p> -->
                                        <p>
                                            We recommend using OBS. If you are unfamiliar with OBS, check out our tutorial on
                                            <a href="http://live-demosuni.s3.amazonaws.com/cms/how_to_video_1.mp4">how to download and set up OBS.</a>
                                        </p>
                                        <p>You can download OBS from <a href="https://obsproject.com/download" target="_blank">here</a> </p>
                                        <p>Now get streaming!</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:15px 0 5px; font-family:Arial, Helvetica, sans-serif;">
                                        <p style="margin:0; font-size:13px; line-height:20px; font-family:Arial, Helvetica, sans-serif; color:#555;">Thank You, <br>Rendezvous</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="100%" border="0" style="text-align:center; padding:0; border-radius:10px 10px 0 0; margin:0;font-size:12px;">
                  	<tr>
                	       <td align="center" style="padding:20px 0 0 0;"><p style="margin:0; font-family:Arial, Helvetica, sans-serif; color:#555">Copyright &copy; {{curr_year}}. All Rights Reserved.</p></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
