<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome Rendezvous</title>
</head>

<body style="margin:0; padding:0; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#000; background:#ddd;">

    <table align="center" cellspacing="0" cellpadding="0" width="600" border="0" style="background-color:#f6f6f6; font-family:Arial, Helvetica, sans-serif;">
      	<tr>
        	<td align="center" style="padding:20px 0;"><img src="{{base_url}}/images/logo.png" alt="Logo" style="width:320px;"></td>
        </tr>
        <tr>
            <td width="540px;" style="padding:0px 30px 20px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" style="background:#fff; padding:25px 30px; border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.1);">
                            <table width="100%" style="margin:0;">
                                <tr>
            						<td align="left" style="font-size:14px; color:#555; padding:0 0 15px; font-family:Arial, Helvetica, sans-serif;">Hi {{name}},</td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:0 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        <p>Thank you for joining Rendezvous.</p>
                                        <p>Please <a href="{{url}}">click here</a> to verify your email. We will activate your account within 24hrs.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:0 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        <p>
                                            Please signup for the Stripe account to get paid from Rendezvous once you have completed your show. <a href="{{stripe_link}}">click here</a> to complete the onboarding process. If you already have Stripe account, sign in with your credentials and grant the permission.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-size:13px; line-height:23px; color:#555; padding:0 0 12px; font-family:Arial, Helvetica, sans-serif;">
                                        <p>
                                            For the ultimate audience experience in live streaming for we recommend you download OBS for your presentations. Just follow these steps:
                                        </p>
                                        <p>
                                            1. Create a show <br/>
                                            2. Rendezvous will send you an email with your stream key<br/>
                                            3. Copy and past the URL and Stream Key into the OBS settings dialogue box.<br/>
                                            4. Click start Stream in OBS and your stream will start at the time you put down.<br/>
                                            5. Remember to give yourself a few minutes before your show to start your stream - your audience will receive your stream at the time stipulated by you.<br/>

                                            You're Ready to Stream
                                        </p>
                                        <p>You can download OBS from <a href="https://obsproject.com/download" target="_blank">here</a> </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:15px 0 5px; font-family:Arial, Helvetica, sans-serif;">
                                        <p style="margin:0; font-size:13px; line-height:20px; font-family:Arial, Helvetica, sans-serif; color:#555;">Thank You, <br>Rendezvous</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" width="100%" border="0" style="text-align:center; padding:0; border-radius:10px 10px 0 0; margin:0;font-size:12px;">
                  	<tr>
                    	<td align="center" style="padding:20px 0 0 0;"><p style="margin:0; font-family:Arial, Helvetica, sans-serif; color:#555">Copyright &copy; {{curr_year}}. All Rights Reserved.</p></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
